@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #333333;
  --foreground: #ffffff;
  --neon-green: #00FF00;
  --gray: #444444;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
}
